/* variables
*/

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content {
    padding-bottom: 1rem;    
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}