/* variables
*/

// TODO: remove fixed height footer as it leads to bad looks, use flexbox
$footer-height: 4rem;

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content {
    padding-bottom: $footer-height;    
    /* Footer height */
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    /* Footer height */
}