{%- assign search_provider = site.search_provider | default: "google" -%}
{%- case search_provider -%}
  {%- when "google" -%}
  <form class="form-inline border rounded" onsubmit="return googleCustomSearchExecute();">
    <input class="form-control bg-transparent border-0 text-white" type="search" placeholder="Search..."
      aria-label="Search" id="lwt-form-search-input">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <div id="results" class="results">
    <gcse:searchresults-only></gcse:searchresults-only>
  </div>
{%- endcase -%}