<footer id="footer" class="footer mt-3 fixed-bottom">
    <div class="container">
        <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item">Blog</li>
                <li class="list-inline-item">Feed</li>
                <li class="list-inline-item">Github</li>
                <li class="list-inline-item">Twitter</li>
                <li class="list-inline-item float-right"><a href="#top">Back to top</a></li>
            </ul>            
        </div>
        <div class="row">
            <p>Made by <strong>Mani kumar</strong>.</p>
            <p>MIT License.</p>
            <p>Based on Bootstrap framework and Bootswatch themes.</p>
        </div>
    </div>
</footer>