<!-- TODO: make site search conditional -->
{% assign search_enabled = true %}

<header class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <nav class="container">
    <!-- site home -->
    <a class="navbar-brand" href="{{ '' | absolute_url }}/">
      <div class="row">
        <div class="col">
          <img src="{{ '' | absolute_url }}/assets/images/lwt-logo-v1.svg" alt="{{ site.title }} logo" height="32"
            width="32">
        </div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <!-- TODO add theme version dropdown here -->
        {%- for link in site.data.nav.header -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ url }}" {% if link.description %} title="{{ link.description }}"
            {% endif %}>{{ link.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
      <form class="form-inline border rounded" style="background: rgba(255, 220, 220, 0.4);" id="lwt-form-search">
        <input class="form-control bg-transparent border-0 text-white" type="search" placeholder="Search..."
          aria-label="Search">
      </form>
    </div>
  </nav>
</header>
