<!-- site scripts start -->
<!-- TODO: concatenate and minify all js scripts/plugins into one single main.min.js.
     Refer minimal mistakes theme code for implementation.
 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/custom-ui.js"></script>
{% include analytics.html %}
{% include search-providers/scripts.html %}
{% include comments-providers/scripts.html %}
<!-- {% include animations.html %} -->
<!-- site scripts end -->