<div class="search-content__inner-wrap">
{%- assign search_provider = site.search_provider | default: "google" -%}
{%- case search_provider -%}
  {%- when "google" -%}
    <form onsubmit="return googleCustomSearchExecute();" id="cse-search-box-form-id">
    <input type="text" id="cse-search-input-box-id" class="search-input" tabindex="-1" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
    </form>
    <div id="results" class="results">
        <gcse:searchresults-only></gcse:searchresults-only>    
    </div>
{%- endcase -%}
</div>
