{%- if site.url -%}
  {%- assign seo_url = site.url | append: site.baseurl -%}
{%- endif -%}

{% assign title_separator = site.title_separator | default: '|' | replace: '|', '&#124;' %}

{%- if page.title -%}
  {%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
{%- endif -%}

{%- if seo_title -%}
  {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
  {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
{%- endif -%}

{%- assign author = site.data.blog.authors[0] -%}

{%- if author.twitter -%}
  {%- assign author_twitter = author.twitter -%}
{%- endif -%}

{%- assign seo_og_image = page.header.teaser | default: site.teaser -%}
{%- if seo_og_image -%}
  {%- assign seo_og_image = '/assets/images/' | absolute_url | append: seo_og_image | escape -%}
{%- endif -%}

{%- if page.date -%}
  {%- assign og_type = "article" -%}
{%- else -%}
  {%- assign og_type = "website" -%}
{%- endif -%}

{%- assign seo_wv = site.webmaster_verifications -%}

<!-- begin _includes/seo.html -->
  <title>{{ seo_title | default: site.title }}</title>
  <meta name="description" content="{{ seo_description }}">
  {% if author %}
  <meta name="author" content="{{ author.name | default: author }}">
    {% if og_type == "article" %}
      <meta property="article:author" content="{{ author.name | default: author }}">
    {% endif %}
  {% endif %}

<meta property="og:type" content="{{ og_type }}">
<meta property="og:locale" content="{{ site.lang | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:url" content="{{ canonical_url }}">

{% if seo_description %}
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}

{% if seo_og_image %}
  <meta property="og:image" content="{{ seo_og_image }}">
{% endif %}

{% if author_twitter %}
  {% if author_twitter.site %}
    <meta name="twitter:site" content="{{ author_twitter.site }}">
  {% endif %}
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="{{ author_twitter.card }}">

  {% if seo_og_image %}
    <meta name="twitter:image" content="{{ seo_og_image }}">
  {% endif %}

  <meta name="twitter:creator" content="{{ author_twitter.creator }}">
{% endif %}

{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if og_type == "article" and page.last_modified_at %}
  <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{% endif %}

{% if site.facebook %}
  {% if site.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.facebook.publisher }}">
  {% endif %}

  {% if site.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.facebook.app_id }}">
  {% endif %}
{% endif %}

<link rel="canonical" href="{{ canonical_url }}">

{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{% endif %}

{% if seo_wv.google %}
  <meta name="google-site-verification" content="{{ seo_wv.google }}" />
{% endif %}
{% if seo_wv.bing %}
  <meta name="msvalidate.01" content="{{ seo_wv.bing }}">
{% endif %}
{% if seo_wv.alexa %}
  <meta name="alexaVerifyID" content="{{ seo_wv.alexa }}">
{% endif %}
{% if seo_wv.yandex %}
  <meta name="yandex-verification" content="{{ seo_wv.yandex }}">
{% endif %}
{% if seo_wv.baidu %}
  <meta name="baidu-site-verification" content="{{ seo_wv.baidu }}">
{% endif %}
{% if seo_wv.naver %}
  <meta name="naver-site-verification" content="{{ seo_wv.naver }}">
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
      "@type": "Organization"{% if seo_og_image %},
      "logo": {
        "@type": "ImageObject",
        "url": {{ seo_og_image }}
      }{% endif %}
    },
    "description": {{ seo_description }},
    "url": {{ '/' | absolute_url | jsonify }}
    "name": {{ author.name | default: site.title | jsonify }}
  }
</script>
<!-- end _includes/seo.html -->
