---
layout: default
---

<section class="container">
    <!-- Archive title -->
    <div class="row mb-3">
        <div class="col-sm">
            <h1>{{ page.title | default: 'Posts' }}</h1>
        </div>
    </div>
    <!-- Archive content - list of posts -->
    <div class="row">
        <div class="col-sm">
            {% for post in site.posts %}
            <!-- TODO use hover.css to animate on hover -->
            <a href="{{ post.url | absolute_url }}">
                <div class="row mb-4 border">
                    <div class="col-sm-2">
                        {% if post.img %}
                            {% capture img_path %}
                            {{ '' | absolute_url }}/assets/images/{{ post.header.teaser }}
                            {% endcapture %}

                            {% capture img_alt %}
                            {{ post.title }}
                            {% endcapture %}
                        {% else %}
                            {% capture img_path %}
                            {{ '' | absolute_url }}/assets/images/{{ site.teaser }}
                            {% endcapture %}

                            {% capture img_alt %}
                            {{ site.title }} logo
                            {% endcapture %}
                        {% endif %}
                        <img class="img-thumbnail" src="{{ img_path | strip }}"
                            alt="{{ img_alt | strip }}">
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm">
                                <h2>{{ post.title | strip | strip_html | strip_newlines | truncate: 60 }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <span class="small font-italic">{{ post.date | date: "%b %-d, %Y" }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <span>{{ post.excerpt | strip | strip_html | strip_newlines | truncate: 180 }}</span>                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- TODO need a load on request when posts are high -->
</section>