---
layout: default
---

<section class="container">
    <!-- Archive title -->
    <div class="row mt-3 mb-3">
        <div class="col">
            <h1>{{ page.title | default: 'Posts' }}</h1>
        </div>
    </div>
    <!-- Archive content - list of posts -->
    <div class="row">
        <div class="col">
            {% for post in site.posts %}
            <!-- TODO use hover.css to animate on hover -->
            <a href="{{ post.url | absolute_url }}">
                <div class="row mb-4 border rounded">
                    {% if post.header.teaser %}
                        {% capture img_path %}
                        {{ '' | absolute_url }}/assets/images/{{ post.header.teaser }}
                        {% endcapture %}

                        {% capture img_alt %}
                        {{ post.title }}
                        {% endcapture %}

                    {% elsif site.teaser %}
                        {% capture img_path %}
                        {{ '' | absolute_url }}/assets/images/{{ site.teaser }}
                        {% endcapture %}

                        {% capture img_alt %}
                        {{ site.title }} logo
                        {% endcapture %}
                    {% endif %}

                    {% if img_path %}
                    <div class="col-sm-4 p-sm-0 text-center">
                        <img class="img-fluid" style="min-width: 60px; background-color: rgba(230, 235, 240, 0.8);"
                            src="{{ img_path | strip }}" alt="{{ img_alt | strip }}">
                    </div>
                    {% endif %}
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col">
                                <h2 class="text-dark">
                                    {{ post.title | strip | strip_html | strip_newlines | truncate: 60 }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span
                                    class="small font-italic text-secondary">{{ post.date | date: "%b %-d, %Y" }}</span>
                            </div>
                        </div>
                        <div class="row d-none d-sm-block">
                            <div class="col">
                                <span
                                    class="text-muted">{{ post.excerpt | strip | strip_html | strip_newlines | truncate: 180 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- TODO need a load on request when posts are high -->
</section>