---
layout: default
---

<section class="container">
  <!-- Post hero image/video -->
  <div class="row">
    <div class="col-sm">
      <div class="border" style="max-height: 640px">
        <!-- TODO: apply lightbox effect -->
        <p class="text-center lead">Post Hero Image/Video</p>
      </div>
    </div>
  </div>
  <!-- Post Title and meta -->
  <div class="row">
    <div class="col-sm">
      <div class="border">
        <div class="row text-center">
          <div class="col">
            <h1>Post Title</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <small>Post Meta</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="row">
    <!-- Page TOC -->
    <div class="col-md-2">
      <div class="border">
        <p class="lead">Post TOC</p>
      </div>
    </div>
    <!-- Page body -->
    <div class="col-md-8">
      <!-- Post content -->
      <article class="border">
        {{ content }}
      </article>
      <!-- Post comments -->
      <div class="border">
        <p class="lead">Post comments</p>
      </div>
    </div>
    <!-- Post author's profile -->
    <div class="col-md-2">
      <div class="border">
        <p class="lead">Author's profile</p>
      </div>
    </div>
  </div>
</section>