---
layout: default
---

{% if page.header.teaser %}
{% capture img_path %}
{{ '' | absolute_url }}/assets/images/{{ page.header.teaser }}
{% endcapture %}

{% capture img_alt %}
{{ page.header.alt | default: page.title }}
{% endcapture %}

{% capture img_cap %}
{{ page.header.caption | default: '' }}
{% endcapture %}
{% endif %}

<section class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      {% if page.show_hero %}
      <!-- post hero -->
      <figure class="figure">
          <img class="img-fluid" style="max-height: 640px" src="{{ img_path | strip }}" alt="{{ img_alt | strip }}">
          <figcaption class="figure-caption text-center">{{ img_cap | strip }}</figcaption>
      </figure>
      {% endif %}
      <!-- post title -->
      <h1>{{ page.title }}</h1>
      {% if page.show_author %}
      <!-- post author, share -->
      <div class="border">
        <p class="lead">Author's profile</p>
      </div>
      {% endif %}
      <!-- post TOC -->
      <div class="border">
        <p class="lead">Post TOC</p>
      </div>
      <!-- Post content -->
      <article class="border">
        {{ content }}
      </article>
      {% if page.show_comments %}
      <!-- Post comments -->
      <div class="border">
        <p class="lead">Post comments</p>
      </div>
      {% endif %}
    </div>
    {% if page.show_ads %}
    <div class="col-md-4">
      <div class="border">
        <p class="lead">Show Ads?</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>